{% extends 'base.html' %}


{%block title %}Color Picker{%endblock %}

  {%block body %}
<!--  <div class="container">
  <div class = "m-2 row text-center mx-auto">
   <div class = "col-sm">
  <form action="#" method="post">
    <div  class="m-2 w-50 text-center">
      <label for="cpick">Pick a Color</label>
      <input type="color" name="col" value="{{last_color}}" class="form-control" id="cpick">
    </div>
    <div class="m-2 text-center">
    <button type="submit" class="btn btn-primary m-2 ">Submit</button>
  </div>
  </form>
</div>  
</div>

</div> -->

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-family:verdana">
      <img src= {{url_for('static',filename='logo.svg')}} alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Luminate
    </a>
  </div>
</nav>



<div class="card ">
<div class="card ">
  <div class="card-body text-center d-flex justify-content-center align-items-center flex-column">
    <form action="#" method="post">
      <div  class="m-2 text-center">
        <label for="cpick">Pick a Color</label>
        <input type="color" name="col" value="{{last_color}}" class="form-control" id="cpick">
      </div>

    
    <div class="card container-md">
    <div class=" form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" value="solid" id="flexRadioDefault1" {{solid}}>
      <label class="form-check-label" for="flexRadioDefault1">
        Solid
      </label>
    </div>
    <div class=" form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" value="flash" id="flexRadioDefault2" {{flash}}>
      <label class="form-check-label" for="flexRadioDefault2">
        Flash
      </label>
    </div>
  </div>


  <div class="m-2 text-center">
    <button type="submit" class="btn btn-dark m-2 ">Submit</button>
  </div>

    </form>
  </div>
</div>

  </div>
</div>

  {%endblock%}

